:root {
  --font-family-main: 'Roboto', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --color-text-main: #757575;
  --color-text-title: #212121;
  --color-logo: #2196f3;
  --color-logo-light-bgd: #000000;
  --color-logo-dark-bgd: #ffffff;
  --color-button-hover: #188ce8;
  --color-bgd-main: #ffffff;
  --color-bgd-secondary: #2f303a;
  --color-bgd-team: #f5f4fa;
  --color-text-adress-link: rgba(255, 255, 255, 0.6);
  --color-fill-icon: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--font-family-main);
  color: var(--color-text-main);
  background-color: var(--color-bgd-main);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo {
  margin-right: 93px;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:nth-last-child(-n + 1)) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--color-logo);
}

.navigation__link.navigation__link--current {
  position: relative;
  color: var(--color-logo);
}

.navigation__link.navigation__link--current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -33px;
  height: 4px;
  width: 100%;
  background-color: var(--color-logo);
  border-radius: 2px;
}

.connection {
  display: flex;
  align-items: center;
}

.connection__item:not(:nth-last-child(-n + 1)) {
  margin-right: 50px;
}

.connection__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__link:hover, .connection__link:focus {
  color: var(--color-logo);
}

.connection__icon {
  margin-right: 10px;
  fill: var(--color-text-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__link:hover > .connection__icon,
.connection__link:focus > .connection__icon {
  fill: var(--color-button-hover);
}

.logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo__light {
  color: var(--color-logo-light-bgd);
}

.logo__dark {
  color: var(--color-logo-dark-bgd);
}

.button {
  margin-right: auto;
  margin-left: auto;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-logo-dark-bgd);
  background-color: var(--color-logo);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--color-button-hover);
}

.button__icon {
  margin-left: 10px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.section--nopaddigtop {
  padding-top: 0px;
}

.section.section--bgd {
  background-color: var(--color-bgd-team);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: var(--color-fill-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--color-logo-dark-bgd);
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--color-logo);
}

.adress {
  font-style: normal;
  margin-top: 20px;
}

.adress__location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-logo-dark-bgd);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__location:hover, .adress__location:focus {
  color: var(--color-logo);
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-adress-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover, .adress__link:focus {
  color: var(--color-logo);
}

.adress__item {
  margin-bottom: 9px;
}

.adress__item:last-child {
  margin-bottom: 0px;
}

.filters__btn {
  padding: 6px 22px;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  background-color: var(--color-bgd-team);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  background-color: var(--color-logo);
  color: var(--color-logo-dark-bgd);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filters__item {
  margin-right: 8px;
}

.filters__item:last-child {
  margin-right: 0px;
}

.mailing-list {
  background-color: transparent;
  margin-left: 93px;
  flex-grow: 1;
}

.mailing-list__wrapper {
  display: flex;
  align-items: center;
}

.mailing-list__label {
  display: block;
  margin-bottom: 20px;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-dark-bgd);
}

.mailing-list__input {
  flex-grow: 1;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--color-logo-dark-bgd);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-list__input::placeholder {
  font-family: var(--font-family-main);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-list__input:focus {
  outline: none;
  border-color: var(--color-logo);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  background-color: var(--color-button-hover);
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--color-logo-dark-bgd);
}

.user-data__form {
  width: 100%;
  padding: 40px;
}

.user-data__title {
  margin-bottom: 12px;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}

.user-data__label {
  display: block;
  margin-bottom: 4px;
  font-family: var(--font-family-main);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text-main);
}

.user-data__input {
  display: block;
  width: 100%;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: var(--font-family-main);
  background-color: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-data__input:focus {
  outline: none;
  border-color: var(--color-logo);
}

.user-data__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.user-data__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-data__input:focus + .user-data__icon {
  fill: var(--color-logo);
}

.textarea {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-license__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: var(--font-family-main);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-main);
}

.user-license__check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-license__check:focus + .check-icon {
  outline: none;
  border-color: var(--color-logo);
}

.user-license__check:checked + .check-icon {
  background-color: var(--color-logo);
  border-color: transparent;
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}

.user-license__link {
  color: #2196f3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-bgd-secondary);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-logo-dark-bgd);
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features {
  display: flex;
  margin-left: -30px;
}

.features__item {
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features__thumb {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__item {
  position: relative;
}

.activity__description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-dark-bgd);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  display: flex;
  margin-left: -30px;
}

.team__item {
  background-color: var(--color-bgd-main);
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__foot {
  padding: 30px 32px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}

.team__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  margin-left: -30px;
}

.clients-list__item {
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-list__link {
  display: flex;
  border: 1px solid var(--color-fill-icon);
  border-radius: 4px;
  height: 92px;
  align-items: center;
  justify-content: center;
  fill: var(--color-fill-icon);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--color-logo);
}

.clients-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--color-logo);
}

.footer {
  background-color: var(--color-bgd-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover, .footer .social-link:focus {
  background-color: var(--color-logo);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__adress {
  margin-right: 70px;
}

.footer__join {
  margin-bottom: 20px;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.drafts__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-title);
}

.drafts__description {
  color: var(--color-text-main);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.drafts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* for flex-basis: calc */
}

.drafts__item {
  box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.drafts__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.drafts__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drafts__link:hover, .drafts__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.drafts__specification {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: var(--font-family-main);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-logo-dark-bgd);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drafts__link:hover .drafts__specification,
.drafts__link:focus .drafts__specification {
  opacity: 1;
  transform: translateY(0%);
}

.drafts__thumb {
  overflow: hidden;
  position: relative;
}
/*# sourceMappingURL=main.css.map */