@media screen and (max-width:1199px) {
    .section--onlydesktop {
        display: none;
    }
}

.activity__list {
    display: flex;
    justify-content: space-between;
}

.activity__item {
    position: relative;
}

.activity__description {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-main);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-logo-dark-bgd);
    background: rgba(47, 48, 58, 0.8);
}