.drafts__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text-title);
}

.drafts__description {
    color: var(--color-text-main);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.drafts__item {
    box-sizing: border-box;
    margin-bottom: 30px;
}

.drafts__item:last-child {
    margin-bottom: 0px;
}

.drafts__box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.drafts__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.drafts__specification {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-family: var(--font-family-main);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-logo-dark-bgd);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .drafts__link:hover &,
        .drafts__link:focus & {
            opacity: 1;
            transform: translateY(0%);
        }
}

.drafts__thumb {
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 768px) {
    .drafts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
    
    .drafts__item {
        margin-bottom: 0;
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc((100% - 2 * 30px) / 2);
    }

    .drafts__box {
        flex-grow: 1;
    }
}

@media screen and (min-width: 1200px) {
    .drafts__item {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}