.mailing-list {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.mailing-list__label {
    display: block;
    margin-bottom: 20px;
    font-family: var(--font-family-main);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-logo-dark-bgd);
}

.mailing-list__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailing-list__input {
    margin-bottom: 20px;
    padding: 15px 16px;
    width: 450px;
    color: var(--color-logo-dark-bgd);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-family: var(--font-family-main);
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}
@media screen and (min-width: 1200px) {
    .mailing-list {
    margin-left: 93px;
    margin-right: 0;
    width: 0;
    flex-grow: 1;
    }
    .mailing-list__wrapper {
        flex-direction: row;
    }
    .mailing-list__input {
        width: 100%;
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: 12px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                outline: none;
                border-color: var(--color-logo);
            }
    }
    .mailing-list__label {
        text-align: start;
    }
}