:root {
    --font-family-main: 'Roboto', sans-serif;
    --font-family-secondary: 'Raleway', sans-serif;
    --color-text-main: #757575;
    --color-text-title: #212121;
    --color-logo: #2196f3;
    --color-logo-light-bgd: #000000;
    --color-logo-dark-bgd: #ffffff;
    --color-button-hover: #188ce8;
    --color-bgd-main: #ffffff;
    --color-bgd-secondary: #2f303a;
    --color-bgd-team: #f5f4fa;
    --color-text-adress-link: rgba(255, 255, 255, 0.6);
    --color-fill-icon: #afb1b8;
}